<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Competitive Tetris" %></h2>
  <p class="lead">Challenge your friends to a game of Tetris!</p>
</div>

<div id="competitive-tetris"></div>
