@import "bootstrap";

body { font-size: 20pt; }

.board {
  border: solid 1px black;
}

.board .row {
  height: 35px;
  padding: 0;

}

.cell {
  height: 35px;
  width: 35px !important;
  border: solid 0.5px black;
  padding: 0;

}

.blank {
  background-color: gray;
}
.I {
  background-color: red;
}
.O {
  background-color: cyan;
}
.J {
  background-color: magenta;
}
.Z {
  background-color: green;
}
.T {
  background-color: silver;
}
.L {
  background-color: yellow;
}
@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}
